POSTGRES_USER=symfony
POSTGRES_PASSWORD=troque_esta_senha
POSTGRES_DB=saas

APP_SECRET=defina_um_secret_forte
DATABASE_URL=pgsql://symfony:troque_esta_senha@db:5432/saas
MAILER_DSN=smtp://usuario:senha@smtp.exemplo.com:587?encryption=tls&auth_mode=login
DATAJUD_API_KEY=defina_sua_chave
DATAJUD_BASE_URL=https://api-publica.datajud.cnj.jus.br

TZ=America/Sao_Paulo
DEFAULT_URI=https://app.seudominio.com
SYMFONY_TRUSTED_PROXIES=private_ranges
SYMFONY_TRUSTED_HOSTS=^app\.seudominio\.com$