{% extends 'base.html.twig' %}

{% block title %}Login - Sistema Jurídico{% endblock %}

{% block body %}
<div class="login-wrapper">
    <div class="login-container">
        <h1>Entrar</h1>

        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form method="post">
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            </div>

            <div class="mb-3">
                <label for="inputPassword" class="form-label">Senha</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>

            <button class="btn-login" type="submit">Login</button>
        </form>

        <div class="extra-links">
            <a href="#">Esqueceu a senha?</a>
            <br>
            <a href="{{ path('app_tenant_new') }}">Criar novo escritório</a>
        </div>
    </div>
</div>
{% endblock %}
